body {
    background-color: #339966;
}

.header {
    color: green;
}

#homePageHeader {
    background-color: #ededed;
}

#title {
    display: inline-block;
    text-align: center;
    margin-left: "50%";
}

#logo {
    display: inline-block;
}

.sectionContainer {
    vertical-align: top;
    display: inline-block;
    width: 100%;
}

.section {
    width: 40%;
    vertical-align: top;
    margin-left: 30%;
}

.subHeader {
    color: #ffee80;
    margin-bottom: 20px;
    text-align: center;
} 

.button {
    background-color: #ededed;
    color: #006634;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    padding: 2px;
}